.footer {
  position: relative;
  z-index: 10;
  margin-bottom: -18px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  padding: 13px 30px;
}

.footer::before,
.footer::after {
  content: "";
  position: absolute;
  background-color: #f6f6f6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 8px;
  right: 8px;
  height: 8px;
  z-index: -1;
}

.footer::before {
  transform: scale(1);
  opacity: 0.9;
}

.footer::after {
  top: calc(100% + 8px);
  left: 16px;
  right: 16px;
  transform: scale(1);
  opacity: 0.8;
  z-index: -2;
}

.footer-buttons {
  display: flex;
  gap: 30px;
}

.footer-buttons .button {
  position: relative;
  left: 34px;
  padding: 6px 12px;
}

.items-left-text {
  font-family: "M_Ying_Hei_HK_W3";
  font-size: 27px;
  letter-spacing: 0.5px;
  color: #777777;
}

.button {
  font-family: "M_Ying_Hei_HK_W3";
  background-color: transparent;
  border: none;
  font-size: 26px;
  color: #777777;
  letter-spacing: .8px;
  cursor: pointer;
}

.footer-buttons .button.active {
  border: 2px solid #ecd7d7;
  border-radius: 8px;
}