.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: white;
}

.app {
  width: 1106px;
  background-color: #f5f5f5;
}

.app-title {
  font-family: "Helvetica Now Display";
  font-weight: 100;
  font-size: 200px;
  line-height: 100%;
  color: #e9d9d8;
  margin: 30px 0;
  user-select: none;
  text-align: center;
}

.app-main {
  box-shadow: 0px 10px 12px -5px rgba(0, 0, 0, .2);
  z-index: 15;
  position: relative;
  margin: 0 auto;
}

.app-main::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-color: #f5f5f5;
  z-index: 5;
}